* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #4f7691;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 70px;
    background-color: rgb(126, 150, 150);
}

.logo-container > h1 {
    color: #fff;
}

.links-container > ul{
    display: flex;
    gap: 10px;
}

.links-container > ul > li > a {
    color: #fff;
}

